TTS_API_TOKEN=change-me-to-a-long-random-secret
TTS_HOST_PORT=5000
TTS_DEFAULT_SPEAKER=eugene
TTS_SAMPLE_RATE=24000
TTS_WORKERS=3
TTS_TORCH_THREADS=2
TTS_MAX_QUEUE=48
TTS_CACHE_SIZE=512
TTS_LOG_LEVEL=info
TTS_CPU_LIMIT=6
TTS_MEM_LIMIT=4g
# движки: Silero (5 голосов + prosody) и Piper (русские голоса)
TTS_ENABLE_SILERO=1
TTS_ENABLE_PIPER=1
TTS_PIPER_VOICES=irina,denis,dmitri,ruslan
